body {
  font-family: Consolas, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1e2327;
}

.card-container {
  text-align: left;
}

.card {
  width: 800px;
  background-color: #d8d8d8;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #0d1117;
  color: #39d353;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 20px;
}

.card-body {
  padding: 20px;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

h1 {
  margin-top: 0;
}

.error-message {
    color: red;
    font-size: 0.8em;
    display: none;
  }
  
